data/winequality-white.csv
data/boston_test_x.npy
data/boston_test_y.npy
data/boston_test.npy
data/boston_train_x.npy
data/boston_train_y.npy
data/boston_train.npy
data/breast_cancer_x.npy
data/breast_cancer_y.npy
data/breast_cancer.npy
data/cifar10_test_x.npy
data/cifar10_test_y.npy
data/cifar10_train_x.npy
data/cifar10_train_y.npy
data/data-01-test-score.csv
data/data-03-diabetes.csv
data/data-04-zoo.csv
data/housing.csv
data/iris_x.npy
data/iris_y.npy
data/iris.csv
data/iris.npy
data/iris.xlsx
data/iris2.csv
data/mnist_test_x.npy
data/mnist_test_y.npy
data/mnist_train_x.npy
data/mnist_train_y.npy
data/pima_x.npy
data/pima_y.npy
data/pima-indians-diabetes.csv
data/pima.npy
data/sonar.csv
data/tem10y.csv
data/test0822.csv
data/ThoraricSurgery.csv
data/wine_x.npy
data/wine_y.npy
data/wine.csv
data/wine.npy
mnist/data/t10k-images-idx3-ubyte.gz
mnist/data/t10k-labels-idx1-ubyte.gz
mnist/data/train-images-idx3-ubyte.gz
mnist/data/train-labels-idx1-ubyte.gz
